<!-- {{>head}}
<title>Company | Home</title>
{{>navbar}} -->
<% layout('layout/BoilerPlate')%>

    <div>
        <img src="images/note.jpg" width="100%" height="100%">
    </div>

    <br />
    <div class='row'>
        <div class='col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6'>
            <div class="card">
                <img src='images/Vansh.jpeg' class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Vansh Sachdeva</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://www.linkedin.com/in/mrarthor/" class="btn heading w-100">Linkedin</a>
                    <br /><br />
                    <a href="https://github.com/MrArthor" class="btn heading w-100">GitHub</a>

                </div>
            </div>
        </div>

        <div class='col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6'>
            <div class="card">
                <img src='images/prateek.jpeg' class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Prateek Kanojia</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://www.linkedin.com/in/prateek-kanojia-479146205/" class="btn heading w-100">Linkedin</a>
                    <br /><br />
                    <a href="https://github.com/Prateek844866" class="btn heading w-100">GitHub</a>
                </div>
            </div>
        </div>
        <div class='col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6'>
            <div class="card">
                <img src='images/ishita.jpeg' class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Ishita Singh</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://www.linkedin.com/in/ishita-singh1808/" class="btn heading w-100">Linkedin</a>
                    <br /><br />
                    <a href="https://github.com/Ishita-Singh1808" class="btn heading w-100">GitHub</a>
                </div>
            </div>
        </div>
    </div>